

.wrapper {
    position: relative;
    overflow: hidden;
    width: 1020px;
  } 

.portfolio {
    padding: 68px 40px 53px 40px;
    background-color: #2d303a;;
    border-bottom: 6px solid  #323746;
}

.portfolio-header {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
}

.portfolio-description {
    margin-top: 38px;
    font-size: 18px;
    line-height: 11px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
}

.portfolio-tags {
    margin-top: 20px;
}

.portfolio-tags-element:nth-child(3), .portfolio-tags-element:nth-child(4) {
    padding-right: 5px;
    padding-left: 5px;
}

.portfolio-tags-element:nth-child(4) {
    margin-left: 1px;
    padding-right: 5px;
    padding-left: 6px;
}

.portfolio-tags-element {
    display: inline-block;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: 5px;
    font-size: 12px;
    line-height: 20px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    border: 1px solid #767e9e;
    border-radius: 5px;
}

.portfolio-tags p:first-child{
    color: #dedede;
    border-color: #dedede;
}

.portfolio-tags-element:hover{
    color: #dedede;
    border-color: #dedede;
    cursor: pointer;
}

.images-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-height: 615px;
    overflow: hidden;
    margin-top: 19px;
}

.portfolio-image {
    width: 220px;
    margin-bottom: 20px;
}

.team {
    padding: 62px 20px 60px 40px;
    background-color: #f2f2f2;
    border-bottom: 6px solid  #ffffff;
}

.team-header {
    padding-left: 2px;
    font-size: 30px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
}

.team-description {
    margin-top: 21px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
}

.team-members-container {
    margin-top: 45px;
    display: flex;
}

.team-member-block{
    max-width: 300px;
    margin-right: 19px;
}

.team-member-block:last-child {
    margin-left: 2px;
}

.member-portrait {
    width: 300px;
}

.member-name {
    margin-top: 17px;
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
}

.member-description {
    margin-top: 10px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
}

.social-media-icon {
    width: 32px;
    display: inline-block;
    margin-top: 22px;
    margin-left: 1px;
    margin-right: 3px;
}

.social-media-icon:hover {
    cursor: pointer;
}